{{#if comments}}
    <section class="gh-comments gh-canvas">
        <header class="gh-comments-header">
            <h3 class="gh-comments-title related-title">Comments</h3>
            {{comment_count class="gh-comments-count"}}
        </header>
        <script defer="" src="/content/files/comments.js" data-locale="en" data-ghost-comments="https://jadin.me/" data-api="https://jadin.me/ghost/api/content/" data-admin="https://jadin.me/ghost/" data-key="6b564c957e08e53ba48aea1202" data-title="" data-count="false" data-post-id="6789c1855afce700013c366c" data-color-scheme="auto" data-avatar-saturation="60" data-accent-color="#E53F73" data-comments-enabled="all" data-publication="jadin.me" crossorigin="anonymous"></script>
    </section>
{{/if}}
